* {
    padding: 0;
    margin: 0;
    height: 100vh;
    box-sizing: border-box;
}

.container {
    width: 1300px;
    height: 100vh;
    border: 1px solid green;
    margin: auto;
    background-image: url(../img/q.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 75%;
}

.header {
    width: 100%;
    height: 10%;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: center;
}


.header2 {
    width: 100%;
    height: 60%;
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/1.png);
    background-repeat: no-repeat;
    background-position: center;
}

img {
    width: 50%;
    height: auto;
    position: relative;
    top: 25%;
}